@font-face{
    font-family: "norse-bold";
    src: url(./fonts/Norse-Bold.otf);
}
@font-face {
    font-family: "yuse";
    src: url(./fonts/YuseiMagic-Regular.ttf);
}
:root{
    --main-black: #1F2937;
    --complementary-white: #F7F7FF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.img-container{
    background: url(./images/tarot-card-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    width: 40vw;
    position: relative;
}
.black-container{
    margin-top: 6rem;
    background-color: var(--main-black);
    opacity: 0.6;
    display: flex;
    height: min(4rem, 8rem);
}
.logo-container{
    top: 6rem;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.logo-img{
    width: 4rem;
    height: 4rem;
}
.logo-text{
    font-family: "norse-bold";
    font-size: 4rem;
    color: white;
}
.img-container > div > p{
    bottom: 0;
    color: white;
    position: absolute;
}
.form-container{
    width: 60vw;
}
.text-container{
    font-family: "yuse";
    padding: 4rem 2rem 1rem 2rem;
    background-color: var(--complementary-white);   
}
.form-container > h3{
    padding: 1rem 6rem 0rem;
    justify-self: start;
}
.form-row{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-row > div{
    width: 14rem;
}
input{
    outline: 0;
    border: 1px solid black;
}
input[type=text]:valid , input[type=password]:valid,
input[type=number]:valid, input[type=email]:valid{
   outline: 1px solid blue;
}
input[type="submit"]:valid{
    border: 1px solid black;
}
input:invalid{
    border: 1px solid red;
}
input:focus{
    border: 1px solid greenyellow;
}
hr{
    height: 1px; 
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.btn-container > p{
    margin: 1rem 6rem 0;
}
.btn{
    text-align: center;
    margin: 1rem 6rem 0;
    padding: .6rem 2rem .6rem 2rem;
    border-radius: 5px;
    color: #F7F7FF;
    background-color: #1F2937;
}
.btn:hover{
    cursor: pointer;
    background-color: #2f3134;
}